<a href="https://colab.research.google.com/github/VAISHNAVISUROJU/H1vaishnavi/blob/main/ASSIGNMENT1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

BASIC PYTHON

In [ ]:
# Write a Python program to declare a variable x with the value 10 and print its type.
x = 10
print(type(x))

<class 'int'>

In [ ]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.
a = 5
b = 10
c = 15
print(a+b+c)

30

In [ ]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).
x = 5.6
print(type(x))

<class 'float'>

In [ ]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).
x = "vaish"
print(type(x))

<class 'str'>

In [ ]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
a = 8
b = 4
print(a - b)
print(a + b)
print(a / b)
print(a * b)

4
12
2.0
32

In [ ]:
# Write a Python program to convert a string "123" to an integer and a float and print the results.
a = "123"
print(int(a))
print(float(a))

123
123.0

In [ ]:
# Write a Python program to print the first character of a given string. (User input for the string)
y = input("Enter a string: ")
print(y[0])

Enter a string: deepu
d

In [ ]:
# Write a Python program to print the length of a string. (User input for the string)
user_string = input("Enter a string: ")
string_length = len(user_string)
print("The length of the string is:", string_length)

Enter a string: vaish
The length of the string is: 5

In [ ]:
# Write a Python program to check if a given string contains only alphabets.
user_string = input("Enter a string: ")
if user_string.isalpha():
    print("The string contains only alphabets.")
else:
    print("The string contains non-alphabetic characters.")

Enter a string: vaishnavi
The string contains only alphabets.

In [ ]:
# Write a Python program to concatenate two strings. (User input for the strings)
user_string1 = input("Enter the first string: ")
user_string2 = input("Enter the second string: ")
concatenated_string = user_string1 + user_string2
print("The concatenated string is:", concatenated_string)

In [ ]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)
name = input("Enter your name: ")
age = input("Enter your age: ")
formatted_string = "My name is {} and I am {} years old.".format(name, age)
print(formatted_string)

Enter your name: vaishnavi suroju
Enter your age: 20
My name is vaishnavi suroju and I am 20 years old.

In [ ]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))

Enter the first number: 5
Enter the second number: 6
Enter the third number: 7

In [ ]:
# Write a Python program to find the index of a substring "abc" in a string. (User input for the string)
user_string = input("Enter a string: ")
substring = "abc"
index = user_string.find(substring)
print("The index of 'abc' in the string is:", index)

Enter a string: a
The index of 'abc' in the string is: -1

In [ ]:
# Write a Python program to convert a string to both uppercase and lowercase. (User input for the string)
user_string = input("Enter a string: ")
uppercase_string = user_string.upper()
lowercase_string = user_string.lower()
print("The uppercase string is:", uppercase_string)
print("The lowercase string is:", lowercase_string)

Enter a string: apple
The uppercase string is: APPLE
The lowercase string is: apple

In [ ]:
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character)
user_string = input("Enter a string: ")
user_character = input("Enter a character: ")
count = user_string.count(user_character)
print("The character '{}' appears {} times in the string.".format(user_character, count))

Enter a string: mango
Enter a character: m
The character 'm' appears 1 times in the string.

In [ ]:
# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)
name = input("Enter your name: ")
greeting = "Hello, {}! Good Morning".format(name)
print(greeting)

Enter your name:  Adeline
Hello,  Adeline! Good Morning

In [ ]:
# Write a Python program to take two numbers as input and print their sum.
A = int(input("Enter the first number: "))
B = int(input("Enter the second number: "))
sum = A + B
print("The sum of {} and {} is {}".format(A, B, sum))

Enter the first number: 7
Enter the second number: 26
The sum of 7 and 26 is 33

Control Structures (Conditionals and Loops)

In [ ]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))
if num1 >= num2 and num1 >= num3:
    print("The maximum number is:", num1)

Enter the first number: 7
Enter the second number: 4
Enter the third number: 9

In [ ]:
# Write a Python program to check if a year is a leap year. (User input for the year)
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(year, "is a leap year.")

else:
    print(year, "is not a leap year.")

Enter a year: 2004
2004 is a leap year.

In [1]:
# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)
num = int(input("Enter a number: "))
if num % 3 == 0 and num % 5 == 0:
    print(num, "is divisible by both 3 and 5.")
else:
    print(num, "is not divisible by both 3 and 5.")

Enter a number: 15
15 is divisible by both 3 and 5.

In [2]:
# Write a Python program to print numbers from 1 to 10 using a for loop.
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [3]:
# Write a Python program to print all even numbers from 1 to 20 using a while loop.
num = 1
while num <= 20:
    if num % 2 == 0:
        print(num)
    num += 1

2
4
6
8
10
12
14
16
18
20

In [4]:
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the number
num = int(input("Enter a number: "))
for i in range(1, 11):
    print(num, "x", i, "=", num * i)

Enter a number: 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [1]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)
num = int(input("Enter a number: "))
factorial = 1
i = 1
while i <= num:
    factorial *= i
    i += 1
print("The factorial of", num, "is", factorial)

Enter a number: 3
The factorial of 3 is 6

In [2]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)
n = int(input("Enter the number of terms: "))
a, b = 0, 1
print("Fibonacci sequence up to", n, "terms:")
for i in range(n):
    print(a, end=" ")

Enter the number of terms: 7
Fibonacci sequence up to 7 terms:
0 0 0 0 0 0 0

In [3]:
# Write a Python program to find all the prime numbers from 1 to 100.
for num in range(2, 101):
    for i in range(2, num):
        if (num % i) == 0:
            break
    else:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [4]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).
for num in range(1, 101):
    if num > 50:
        break
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [5]:
# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.
for num in range(1, 21):
    if num % 2 == 0:
        continue
    print(num)

1
3
5
7
9
11
13
15
17
19

In [7]:
#Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)
user_string = input("Enter a string: ")
user_character = input("Enter a character: ")
count = 0
for char in user_string:
    if char == user_character:
        count += 1
        print("The character '{}' appears {} times in the string.".format(user_character, count))

Enter a string: 6
Enter a character: v

DATA STRUCTURES (LIST, TUPLES, SETS, DICTIONARIES )

In [8]:
# Write a Python program to create a list of integers and print the sum of the elements.
my_list = [1, 2, 3, 4, 5]
total = sum(my_list)
print("The sum of the elements in the list is:", total)

The sum of the elements in the list is: 15

In [9]:
# Write a Python program to find the largest element in a list.
my_list = [10, 20, 30, 40, 50]
largest = max(my_list)
print("The largest element in the list is:", largest)

The largest element in the list is: 50

In [10]:
# Write a Python program to reverse a list.
my_list = [1, 2, 3, 4, 5]
reversed_list = my_list[::-1]
print("The reversed list is:", reversed_list)

The reversed list is: [5, 4, 3, 2, 1]

In [11]:
# Write a Python program to remove all occurrences of a specific element from a list.
my_list = [1, 2, 3, 2, 4, 2, 5]
element = 2
my_list = [x for x in my_list if x != element]
print

In [12]:
# Write a Python program to find the index of an element in a list.
my_list = [10, 20, 30, 40, 50]
element = 30
index = my_list.index(element)
print("The index of", element, "in the list is:", index)

The index of 30 in the list is: 2

In [13]:
# Write a Python program to find if a specific element exists in a list.
my_list = [1, 2, 3, 4, 5]
element = 3
if element in my_list:
    print("The element", element, "exists in the list.")

The element 3 exists in the list.

In [14]:
# Write a Python program to remove duplicates from a list.
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(my_list))
print("The list with duplicates removed is:", unique_list)

The list with duplicates removed is: [1, 2, 3, 4, 5]

In [15]:
# Write a Python program to count the occurrences of an element in a list.

my_list = [1, 2, 3, 2, 4, 2, 5]
element = 2
count = my_list.count(element)
print("The element", element, "appears", count, "times in the list.")

The element 2 appears 3 times in the list.

In [16]:
# Write a Python program to get the number of even numbers in a list.
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
even_count = sum(1 for num in my_list if num % 2 == 0)
print("The number of even numbers in the list is:", even_count)

The number of even numbers in the list is: 4

In [17]:
# Write a Python program to create a tuple and print it.
my_tuple = (1, 2, 3, 4, 5)
print("The tuple is:", my_tuple)

The tuple is: (1, 2, 3, 4, 5)

In [18]:
# Write a Python program to convert a tuple to a list and vice versa.
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)
print("The list created from the tuple is:", my_list)

The list created from the tuple is: [1, 2, 3, 4, 5]

In [19]:
# Write a Python program to find the maximum and minimum values in a tuple
my_tuple = (10, 20, 30, 40, 50)
maximum = max(my_tuple)
minimum = min(my_tuple)
print("The maximum value in the tuple is:", maximum)
print("The minimum value in the tuple is:", minimum)

The maximum value in the tuple is: 50
The minimum value in the tuple is: 10

In [20]:
# Write a Python program to unpack a tuple into variables.
my_tuple = (10, 20, 30)
a, b, c = my_tuple
print("The values in the tuple are:", a, b, c)

The values in the tuple are: 10 20 30